<ion-header>
 <ion-navbar>
    <ion-title>Kohteet</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Suodata kohteita" (ionInput)="filterLocations($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="selectLocation(location)" *ngFor="let location of locations">
      {{ location.name }}
    </ion-item>
  </ion-list>

</ion-content>