<!--
  Generated template for the ReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
     <!-- <ion-buttons left>
          <button ion-button icon-only (click)="close()" class="my-style-for-modal">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons> -->
    <ion-title>Report</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <report></report>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <button *ngIf="!report.locked && this.reportComponent.viewMode=='view'" ion-button half (click)="reportComponent.switchToEditMode()">Muokkaa</button>
  <!--  <button *ngIf="!report.locked && this.reportComponent.viewMode=='edit'" class="left" ion-button half (click)="close()">Sulje</button> -->
    <button *ngIf="!report.locked && this.reportComponent.viewMode=='edit'" class="right" ion-button half (click)="saveAndLockReport()">Lukitse</button>
    <button *ngIf="!report.locked && this.reportComponent.viewMode=='edit'" class="right" ion-button color="danger" half (click)="deleteReport(report)">Poista</button>
    <p class="report-locked-info" *ngIf="report.locked" ><ion-icon *ngIf="report.locked" name="lock"></ion-icon><strong>Raportti on lukittu</strong></p>
  </ion-toolbar>
</ion-footer>

