<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Turvallisuushavainto / {{ globals.currentUser.firstname }} {{ globals.currentUser.lastname }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <report></report>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button half (click)="resetReportPage()">Tyhjennä</button>
    <button class="right" ion-button half (click)="saveReport()">Tallenna</button>
    <button class="right" ion-button half (click)="saveAndLockReport()">Tallenna ja lukitse</button>
  </ion-toolbar>
</ion-footer>