.image-container {
    display: inline-block;
    float:left;
    width:50%;
    max-width: 400px;
    padding:1rem;

    img {
        width: 100%;
        height:auto;
    }
}

.item-datetime {
  padding-left:0;

  .item-inner {
    border-bottom:0 !important;
  }
    
  .datetime {
      padding:0;
  }
}
