<ion-content padding *ngIf="viewMode=='edit' && !report.locked">
  <h2>Raportin tyyppi</h2>
  <p *ngIf="report.event.location">{{ report.event.location }} / {{ report.event.type }} {{ report.event.subType ? ' / '+report.event.subType : '' }}</p>
  <ion-item class="send">
    <ion-label>Lähetetään asiakkaalle</ion-label>
    <ion-toggle [(ngModel)]="report.event.send"></ion-toggle>
  </ion-item>


  <h2>Tallenna raportti</h2>
  <button *ngIf="!globals.isIos()"  ion-button half (click)="speech.recognizeSpeech(report)">Aloita nauhoitus</button>
  <button *ngIf="globals.isIos() && !speech.isRecording" ion-button half (click)="speech.recognizeSpeech(report)">Aloita nauhoitus</button>
  <button *ngIf="globals.isIos() && speech.isRecording" ion-button half (click)="speech.stopListening()">Lopeta nauhoitus</button>
  <button ion-button half (click)="openReportModal()">Kirjoita raportti</button>
  <h3 *ngIf="report.text?.length > 0">Raportti</h3>
  <p>{{ report.text }}</p>
  <h3>Aika</h3>
  <p>Klikkaa päivää vaihtaaksesi</p>
  <ion-item>
    <ion-datetime displayFormat="DD.MM.YYYY klo HH:mm" [(ngModel)]="dateTime"></ion-datetime>
  </ion-item>
 
  <h2>Liitä kuvia</h2>
  <button ion-button icon-left (click)="image.presentActionSheet(report)">
    <ion-icon name="camera"></ion-icon>Valitse kuva
  </button>

  <div *ngIf="report.images?.length > 0" id="images">
    <div class="image-container" *ngFor="let img of report.images">
    <img src="{{ image.normalPathForImage(img) }}" />
      <button ion-button (click)="image.removeImage(report, img)">Poista kuva</button>
    </div>
  </div>

</ion-content>

<ion-content padding *ngIf="viewMode=='view'">
  <h3>{{ report.user.firstname }} {{ report.user.lastname }}</h3>
  <p *ngIf="report.event.location">{{ report.event.location }} / {{ report.event.type }} {{ report.event.subType ? ' / '+report.event.subType : '' }}</p>
  <h3>Aika</h3>
  <p>{{ formatDate() }}</p>
  <h3>Raportti:</h3>
  <p>{{ report.text }}</p>
  <div *ngIf="report.images?.length > 0" id="images">
    <h3>Kuvat</h3>
    <div class="image-container" *ngFor="let img of report.images">
     <img [src]="image.normalPathForImage(img)" />
    </div>
  </div>
</ion-content>
