<!--
  Generated template for the ReportListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tallennetut raportit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="openReport(report)"  *ngFor="let report of globals.getReports()">
      <ion-icon *ngIf="report.locked" name="lock"></ion-icon>
      {{ report.event.location }}
    </ion-item>
  </ion-list>
</ion-content>
