<!--
  Generated template for the ReportModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Kirjoita raportti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-textarea rows="10" [(ngModel)]="report" placeholder="Kirjoita raportti"></ion-textarea>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button half (click)="close()">Sulje</button>
    <button class="right" ion-button half  (click)="saveReport()" >Tallenna</button>
  </ion-toolbar>
</ion-footer>