<!--
  Generated template for the UsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Käyttäjät</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item (click)="selectUser(user)" *ngFor="let user of globals.users">
      {{ user.firstname }} {{ user.lastname }}
    </ion-item>
  </ion-list>
</ion-content>
